$black: #000000; //Цвет шрифта подзаголовков, цен, меню
$white: #fff;  //Базовый цвет
$gray: #f1f1f1; //Фон Заголовка на странице Каталога, Вязание на заказ. Бордер в каталоге
$dark-gray: #444444; // Цвет шрифта в контенте.
$light-gray: #f9f9f9; //Фон Для картинки на главное странице.
$gray-separate: #e5e5e5; // Разделительная линия в Футере.
$mint-color: #63d1bb;
$dark-mint-color: #56c3b2;
