.button {
  width: 256px;
  display: inline-block;
  border: 2px solid $dark-gray;
  padding: 10px 0 10px;
  margin: 15px 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  background: $white;
  color: $dark-gray;
  outline: none;
  cursor: pointer;
  vertical-align: bottom;
  &:hover {
    color: $white;
    background: $dark-gray;
  }
  &:active {
    color: darken($gray, 30%);
  }
}
