.catalog-product {
  margin: 0 0 25px;
  border: 1px solid $gray;
  &:hover {
    box-shadow: 0 9px 20px -10px rgba($black, 0.3);
  }
  &:active {
    box-shadow: 0 6px 12px -7px rgba($black, 0.2);
  }
}

.catalog-product__descr {
  padding: 0 28px 0;
}

.catalog-product__title {
  margin: 0;
  padding: 25px 0 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.catalog-product__info {
  display: block;
  font-size: 13px;
  line-height: 30px;
  color: $dark-gray;
  padding-top: 4px;
  padding-bottom: 19px;
  border-bottom: 1px solid $gray;
}

.catalog-product__buy {
  padding: 21px 27px 30px;
  display: flex;
  justify-content: space-between;
}

.catalog-product__price {
  cursor: pointer;
  line-height: 24px;
  font-weight: bold;
  color: $black;
    &:hover {
      opacity: 0.5;
    }
    &:active {
      opacity: 0.2;
  }
}

.catalog-product__order {
  opacity: 0.5;
    &:hover {
    opacity: 1;
  }
    &:hover path {
      fill: $mint;
  }
    &:active {
      opacity: 0.2;
  }
}

// Планшетная версия
@media (min-width: 768px) {
  .catalog-product {
    margin: 52px 0 0 0;
    border: 1px solid $gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 334px;
  }
}

@media (min-width: 768px) {
  .catalog-product__photo img {
    width: 334px;
    height: 334px;
  }
}

@media (min-width: 768px) {
  .catalog-product__descr {
    width: 242px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .catalog-product__title{
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .catalog-product__info {
    font-size: 15px;
    border: none;
  }
}

@media (min-width: 768px) {
  .catalog-product__buy {
    width: 271px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 23px;
    border-top: 1px solid $gray;
  }
}

@media (min-width: 768px) {
  .catalog-product__price {
    font-size: 17px;
  }
}

// Десктопная версия
@media (min-width: 1150px) {
  .catalog-product {
    margin: 75px 0 0 0;
    border: 1px solid $gray;
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

@media (min-width: 1150px) {
  .catalog-product__photo img {
    width: 317px;
    height: 465px;
  }
}

@media (min-width: 1150px) {
  .catalog-product__descr {
    padding-left: 26px;
  }
}

@media (min-width: 1150px) {
  .catalog-product__title {
    padding: 0;
  }
}

@media (min-width: 1150px) {
  .catalog-product__info {
    padding-top: 0px;
    padding-bottom: 16px;
  }
}

@media (min-width: 1150px) {
  .catalog-product__buy {
    margin: 0 auto;
  }
}

@media (min-width: 1150px) {
  .catalog-product {
    &:last-child {
      .catalog-product__descr {
        padding-top: 20px;
      }
    }
  }
}
