.contacts {
  border: 1px solid blue;
  background-color: #fff;
  color: $font-gray;
}

.contacts__wrapper {
  width: 260px;
  margin: auto;
  padding: 0 20px;
  border: 1px solid red;
}

.contacts__title {
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: $font-black;
}

.contacts__info {
  line-height: 30px;
  display: inline-block;
}

.contacts__email {
  padding: 0 10px 0 0;
}

.contacts__address {
  padding: 0 10px 0 0;
  vertical-align: top;
}

.contacts__address-location {
  line-height: 30px;
  display: inline-block;
  width: 180px;
}

.contacts__map {
  margin-top: 30px;
  overflow: hidden;
}
