.contacts {
  border: 1px solid blue;
  background-color: #fff;
  color: $font-gray;
}

.contacts__title {
  margin-top: 34px;
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
