.main-nav {
  background: $white;
}

.main-nav__logo {
  height: 80px;
  text-align: center;
  background: $white;
  border-bottom: 1px solid $gray;
}

.main-nav__logo img {
  width: 86px;
  height:80px;
}

.main-nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__item {
  display: block;
  border-bottom: 1px solid $gray;
  border-left: none;
  border-right: none;
  &--hidden {
    display: none;
  }
}

.main-nav__link {
  width: 260px;
  display: inline-block;
  padding: 30px 30px 30px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: $black;
}

//768

@media (min-width: 768px) {
  .main-nav__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .main-nav__logo {
    flex-basis: 113px;
    margin-left: 50px;
    border: 0;
  }
}

@media (min-width: 768px) {
  .main-nav__items {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    background: $white;
  }
}

@media (min-width: 768px) {
  .main-nav__item {

    border: none;
  }
}

@media (min-width: 768px) {
  .main-nav__item {
    &--hidden {
      display:none;
    }
  }
}

@media (min-width: 768px) {
  .main-nav__link {
    width: auto;
    padding: 25px 36px 25px;
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
    color: $black;
  }
}

@media (min-width: 768px) {
  .main-nav__link {
    &--delivery {
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: $dark-gray;
    }
    &--basket {
      font-size: 17px;
      color: $black;
    }
  }
}

@media (min-width: 768px) {
  .main-nav__item {
    &--catalog {
    order: 1;
    background: $light-gray;
    flex-grow: 1;
    }
  }
}

@media (min-width: 768px) {
  .main-nav__item {
    &--knitwork {
    order:1;
    background: $light-gray;
    }
  }
}

@media (min-width: 768px) {
  .main-nav__item {
    &--free-delivery {
    display: block;
    order:4;
    background: $light-gray;
    }
  }
}

@media (min-width: 768px) {
  .main-nav__item {
    &--search {
    margin: 0 auto;
    }
  }
}
