.modal-basket {
  background: rgba($white, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  &--show {
    display: block;
  }
}

.modal-basket__wrapper {
  width: 260px;
  padding: 30px 30px;
  margin: 0 auto;
  background: $white;
  text-align: center;
  box-shadow: 0px 0px 16px 0px rgba($black, 0.2),
              0px -3px 12px -8px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -160px;
}

.modal-basket__title {
  padding-bottom: 15px;
  display: block;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-basket__text {
  font-size: 15px;
  line-height: 30px;
}

.modal-basket__form {
  margin-top: 10px;
}

.modal-basket__input {
  display: none;
}

.modal-basket__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal-basket__size {
  width: 77px;
  display: block;
  padding: 16px 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  border: 2px solid $gray;
}

.modal-basket__input + .modal-basket__size {
  &:hover {
    border-color: darken($gray, 30%);
  }
  &:active {
    border-color: $mint;
  }
}

.modal-basket__button {
  width: 100%;
  display: block;
  margin-top: 30px;
  padding: 15px 0;
  background: $mint;
  color: white;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  border: 2px solid $mint;
  &:hover {
    background: none;
    color: $mint;
  }
  &:active {
    opacity: 0.5;
  }
}

// Планшетная версия
@media (min-width: 768px) {
  .modal-basket__wrapper {
    width: 506px;
    height: 277px;
    margin-top: -168px;
    margin-left: -283px;
  }
}

@media (min-width: 768px) {
  .modal-basket__title {
    font-size: 30px;
    line-height: 57px;
  }
}

@media (min-width: 768px) {
  .modal-basket__text {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .modal-basket__size {
    width: 108px;
  }
}

@media (min-width: 768px) {
  .modal-basket__form {
    width: 354px;
    margin: auto;
    margin-top: 20px;
  }
}
