.nav-features__items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-features__item {
  position: relative;
  display: block;
  border-bottom: 1px solid $gray;
  text-align: center;
  &--delivery {
    display: none;
  }
  &--search {
    &:hover path {
      fill: $mint;
    }
    &:active path {
      opacity: 0.5;
    }
  }
  &--basket {
    &:hover path {
      fill: $mint;
    }
    &:active {
      opacity: 0.5;
    }
  }
    &:hover svg {
      opacity: 1;
  }
}

.nav-features__link {
  display: block;
  padding: 31px 30px 31px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: $black;
  &:hover{
    opacity: 0.5;
  }
}

.nav-features__icon-search {
  position: absolute;
  top:34px;
  left: 31px;
  opacity: 0.2;
}

.nav-features__icon-cart {
  position: absolute;
  top:33px;
  left: 31px;
  opacity: 0.2;
}

//Планшетная версия
@media (min-width: 768px) {
  .nav-features {
    width: 59%;
  }
}

@media (min-width: 768px) {
  .nav-features__items {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .nav-features__item {
    border: none;
    &--search {
      border-left: 1px solid $gray;
      border-right: 1px solid $gray;
      margin-left: auto;
      z-index: 1;
    }
    &--basket {
      margin-left: auto;
      z-index: 1;
    }
    &--delivery {
      display: block;
      margin-left:auto;
    }
  }
}

@media (min-width: 768px) {
  .nav-features__link {
    &--delivery {
      font-size: 15px;
      font-weight: normal;
      color: $dark-gray;
      padding-right: 0;
      padding-bottom: 18px;
      padding-top: 18px;
    }
      &:hover {
        opacity: 1;
      }
    &--search {
      width: 20px;
      font-size: 0;
      margin-left: auto;
    }
    &--basket {
      padding-right: 0;
      padding-left: 80px;
    }
  }
}

@media (min-width: 768px) {
.nav-features__icon-search {
  top:34px;
  left: 31px;
  }
}
@media (min-width: 768px) {
.nav-features__icon-cart {
  top:33px;
  left: 36px;
  }
}

//Десктопная версия
@media (min-width: 1150px) {
  .nav-features {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
}

@media (min-width: 1150px) {
  .nav-features__items {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}

@media (min-width: 1150px) {
  .nav-features__item {
    min-height: 73px;
    &--search {
      z-index: 1;
    }
    &--basket {
      margin: 0;
      z-index: 1;
    }
    &--delivery {
      min-height: 73px;
      margin-left:auto;
    }
  }
}

@media (min-width: 1150px) {
  .nav-features__link {
    &--delivery {
      font-size: 15px;
      font-weight: normal;
      color: $dark-gray;
      min-height: 37px;
      &:hover {
        opacity: 1;
      }
    }
    &--search {
      font-size: 0;
    }
    &--basket {
      padding-left: 80px;
    }
  }
}

// Раскрывающееся - Закрывающееся меню
.nav-features--nojs {
  position: static;
  height: auto;
  display: block;
}

.nav-features--closed .nav-features__items {
  display: none;
}

.nav-features--nojs .nav-features__items {
  display: block;
}

@media (min-width: 768px) {
.nav-features--closed .nav-features__items {
  display: flex;
  }
}
