// .page-header {
//   background: $light-gray;
// }

.page-header__wrapper {
  width: 260px;
  padding: 0 30px;
  background: $light-gray;
}

.page-header__title-img {
  background: $light-gray url("../img/hero-mobile@1x.jpg") 50% 0 no-repeat;
  width: auto;
  min-height: 287px;
}

.page-header__title {
  font-size: 27px;
  line-height:30px;
  font-weight: bold;
  text-align: center;
  width: 260px;
  margin: 0 auto;
  padding: 75px 0 0;
    &--bg {
      background: $gray;
      padding: 75px 0 78px;
  }
}
