.page-header {
  border: 1px solid blue;
}

.page-header__wrapper {
  border: 1px solid blue;
  width: 260px;
  margin: 0 auto;
  padding: 0 20px
}

.page-header__logo {
  padding: 22px 0 22px;
  text-align: center;
  border-bottom: 1px solid $gray;
}

.page-header__title-img {
  background: $light-gray url("../img/hero-mobile@1x.jpg") 50% 0 no-repeat;
  width: auto;
  height: 373px;
}

.page-header__title {
  font-size: 27px;
  line-height:30px;
  font-weight: bold;
  text-align: center;
  padding-top: 80px;
  width: 260px;
  margin: 0 auto;
  padding: 75px 0 78px;
    &--bg {
      background: $gray;
  }
}
