.page-header {
  position: relative;
}

.page-header__container {
  background: $light-gray;
}

.page-header__container {
    &--bg {
    background: $gray;
    padding: 70px 0 78px;
  }
}

.page-header__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
}

.page-header__title {
  font-size: 27px;
  line-height:30px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 75px 0 0;
  &--catalog {
    padding: 0;
  }
  &--knitwork {
    padding: 0;
  }
}

.page-header__title-img {
  background: $light-gray url("../img/hero-mobile@1x.jpg") 50% 0 no-repeat;
  width: auto;
  min-height: 287px;
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
    .page-header__title-img {
      background: url("../img/hero-mobile@2x.jpg") 50% 0 no-repeat;
      background-size: auto 340px;
  }
}

// Планшетная версия
@media (min-width: 768px) {
  .page-header {
    &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -13px;
    width: 100%;
    height: 23px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: auto 22px;
    }
  }
}

@media (min-width: 768px) {
  .page-header__container {
    border-top: 1px solid $gray;
    margin-top: -61px;
    &--bg {
      padding: 70px 0 70px;
    }
  }
}

@media (min-width: 768px) {
  .page-header__wrapper {
    width: 668px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .page-header__title {
    font-size: 43px;
    line-height: 50px;
    padding: 152px 0 0;
    &--catalog {
      padding: 24px 0;
    }
    &--knitwork {
      padding: 24px 0;
    }
  }
}

@media (min-width: 768px) {
  .page-header__title-img {
    background: $light-gray url("../img/hero-desktop@1x.jpg") 50% 0 no-repeat;
    width: auto;
    min-height: 287px;
    background-size: cover;
    padding-bottom: 338px;
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi),
(min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__title-img {
  background:url("../img/hero-desktop@2x.jpg") 50% 0 no-repeat;
  background-size: auto 740px;
  }
}

//Десктопная версия
@media (min-width: 1150px) {
  .page-header {
    &::after {
    bottom: -20px;
    width: 100%;
    height: 37px;
    background-repeat: repeat-x;
    background-size: auto 28px;
    }
  }
}

@media (min-width: 1150px) {
  .page-header__wrapper {
    width: 1050px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

@media (min-width: 1150px) {
  .page-header__container {
    border-top: 1px solid $gray;
    margin-top: -75px;
  }
}

@media (min-width: 1150px) {
  .page-header__title {
    width: 630px;
    font-size: 53px;
    line-height: 57px;
  }
}
