.production-process {
  padding: 35px 0 0;
}

.production-process__wrapper {
  width: 260px;
  padding: 0 30px;
}

.production-process__product {
  margin: 0 0 30px 0;
  border: 1px solid $gray;
}

.production-process__title {
  margin: 0;
  padding: 30px 0px 30px 100px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  background: url("../img/icon-video.svg") 12% 50% no-repeat;
}

.production-process__video {
  padding: 0 0 30px;
}

.production-process__info {
  padding: 0 30px 0 30px;
  display: block;
  font-size: 13px;
  line-height: 24px;
  color: $dark-gray;
}
