.second-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.second-nav__item {
  &--bulb {
    background: $mint-color url('../img/icon-interior.svg') 90% 50% no-repeat;
  }
  &--detail {
    background:$dark-mint-color url('../img/icon-toy.svg') 90% 50% no-repeat;
  }
}

.second-nav__item a {
  display: inline-block;
  padding-top:31px;
  padding-bottom:31px;
  padding-left: 30px;
  text-decoration: none;
}

.second-nav__text {
  font-family: 'Open sans', sans-serif;
  font-size: 19px;
  line-height:24px;
  font-weight: bold;
  color: #fff;
}
