.second-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.second-nav__item {
  &--bulb {
    background: $mint url("../img/icon-interior.svg") 90% 50% no-repeat;
  }
  &--detail {
    background: $dark-mint url("../img/icon-toy.svg") 90% 50% no-repeat;
  }
}

.second-nav__link {
  display: block;
  padding: 30px 0 30px 30px;
  font-size: 19px;
  line-height:24px;
  font-weight: bold;
  color: $white;
  text-decoration: none;
}

// Планшетная версия

@media (min-width: 768px) {
  .second-nav {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .second-nav__item {
    width: 50%;
    display: block;
  }
}

@media (min-width: 768px) {
  .second-nav__link {
    font-size: 20px;
    line-height:30px;
    padding: 45px 0 45px 30px;
  }
}


// Для десктопа
