.top-product {
  color: $dark-gray;
}

.top-product__container {
  padding: 35px 0 0;
}

.top-product__wrapper {
  width: 260px;
  padding: 0 30px;
}

.top-product__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $black;
}

.top-product__note {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $mint;
}

.top-product__text {
  font-size: 15px;
  line-height: 24px;
}

.top-product__table td {
  border-bottom: 1px solid $gray;
  padding: 10px 28px 10px 0;
}

.top-product__photo {
  padding-top: 30px;
}

.top-product__price {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0 0;
  color: $dark-gray;
}


// Для планшета

@media (min-width: 768px) {
  .top-product__wrapper {
    width: 668px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .top-product__container {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .top-product__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .top-product__note {
    width: 80px;
    line-height: 17px;
    align-self: center;
    text-align: center;
  }
}
