.top-product {
  border: 1px solid blue;
  color: $dark-gray;
  padding: 35px 0 0;
}

.top-product__wrapper {
  width: 260px;
  margin: auto;
  padding: 0 20px;
  border: 1px solid red;
}

.top-product__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $black;
}

.top-product__note {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $mint-color;
}

.top-product__text {
  font-size: 15px;
  line-height: 24px;
  color: $dark-gray;
}
